<h1>Schedule Session with Your Consultant</h1>
<h2>Consultant Availability</h2>
<iframe src="https://calendar.google.com/calendar/embed?src=o3i55kndm0ad3060lv7k230s28%40group.calendar.google.com&ctz=America%2FLos_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

<form method="POST" action="/scheduleSession">
<div class="form-group">
  <label>Timeslot: U.S East Coast Time </label>
  <input type="text" name="time" class="form-control"/>
</div>
<div class="form-group">
  <label>Input</label>
  <input type="text" name="username" class="form-control"/>
</div>
<div class="form-group">
  <label>Input</label>
  <input type="text" name="username" class="form-control"/>
</div>
<button class="btn-success">Confirm Session</button>
</form>
