@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Sunflower:300');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC');
/* Global Styles */

body,
input,
button,
select,
textarea,
.navbar,
dropdown-menu,
dropdown-item, collapse, navbar-collapse
{
  font-family: 'Sunflower', sans-serif;
  font-size: 31px;
}

.head-font {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 50px;
}

.first-font {
    font-family: 'Montserrat', sans-serif;
}

.sec-font {
    font-family: 'Merriweather', serif;
    font-size: 30px;
    color: white;
}

.third-font {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}
img.logoimage {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.bg-maroon {
  background-color: #910000 !important;
}

.bg-lightgrey {
    background-color: #F0F0F0;
}

.bg-white {
    background-color: #FFFFFF;
}

div.centeralign {
  text-align: center;
}

div.leftalign {
  text-align: left;
}

/* center text */
.centered {
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-40%, -50%);
    color: white;
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
}

.text {
    position: absolute;
    top: 72%;
    left: 35%;
    transform: translate(-30%, -50%);
    color: white;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

div.college-admissions-g1 {
    position: absolute;
    top: 0%;
    left: 5%;
    transform: translate(-10%, 10%);
    color: white;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

.feature_area .overlay {
  background: url(../images/campus.jpg) no-repeat scroll center center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 125%;
  bottom: 0;
  z-index: -1;
  opacity: .25;
}

.feature_item {
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 50px 37px 35px 37px;
  border: 1px solid #6c6d77;
  color: #fff;
}

.feature_area1 {
  background: #eee2ee;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50%;
  min-height: 51px;
  z-index: 1;
}

.feature_item-1 {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin: 0px 40px;
}

.feature_item-2 {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    float: center;
    margin: 0px 10px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-info:hover {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: indianred;
width: 400px;
    height: 272px;
}

.container:hover .overlay{
  opacity: 0.80;
}



.text {
  color: white;
  font-size: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*
.overlay {
  background: url(../images/home-banner.jpg) no-repeat scroll center center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  bottom: 0;
  z-index: -1;
}
*/

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.5rem;
}

.p_120 {
  padding-top: 20px;
  padding-bottom: 0px;
}

.transparent {
  background:#7f7f7f;
  background:rgba(0,0,0,0.5);
}

/*body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element 
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }
*/

/* Navbar classes */

.navbar {
  margin-top: 2px;
  margin-bottom: 0 !important;
}

.dropdown-toggle{
  margin: 2px 0px 2px;
  float: center;
}

.navbar a {
  float: center;
  color: black;
  font-size: 17px;
  text-align: left;
  padding: 8px 8px;
}

.dropdown {
  float: center;
  overflow: show;
}

.navbar a:hover, .dropdown:hover .navbar-toggler {
  background-color: black;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-menu a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

ul li {
    margin-left: 110px;
    margin-right: 60px;
}

/* Design Aspects */

.square-container {
    background-color: #F0F0F0;
    width: 1000px;
    height: 45px;
    text-align: center;
    margin: 0px 75px 0px;
    padding: 5px;
}

img.universityimage {
    opacity: 1.0;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.icon-colleges {
    position:relative;
    text-align: block;
    margin-left: -12px;
    margin-right: 0px;
    font-family: 'Montserrat', serif;
    font-size: 20px;
}

.icon-apply {
    position: relative;
    text-align: block;
    margin-left: -17px;
    margin-right: 0px;
    font-family: 'Montserrat', serif;
    font-size: 20px;
}

.icon-database {
    position: relative;
    text-align: block;
    margin-left: -20px;
    margin-right: px;
    font-family: 'Montserrat', serif;
    font-size: 20px;
}

.icon-network {
    position: relative;
    text-align: block;
    margin-left: 4px;
    margin-right: 0px;
    font-family: 'Montserrat', serif;
    font-size: 20px;
}

.icon-testing {
    position: relative;
    text-align: block;
    margin-left: -8px;
    margin-right: 0px;
    font-family: 'Montserrat', serif;
    font-size: 20px;
}
/*img.universityimage:hover {
    opacity: 0.5;
    -webkit-filter: grayscale(20%); /* Safari 6.0 - 9.0 
    filter: grayscale(20%);
}*/

.big-block {
    background-image: url(images/grey.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.collegeadmissions {
    margin: 0 auto;
  font-size: 22px;
font-style: italic;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .35em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end 3.6s;
  
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

   /* .consultants {
    filter: alpha(opacity=20);
    display: block;
    margin: 0 auto;
    position: relative;
    text-align: center;
    color: white;
    object-fit: cover;
}

   .question-text {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Palatino", sans-serif;
    font-size: 40px;
    color: black;
}

    .goal-text {
    position: absolute;
    top: 130%;
    left: -40%;
    transform: translate(45%, -70%);
    font-family: "Palatino", sans-serif;
    font-size: 20px;
    color: maroon;
}*/

/* Footer */

.footer-area {
  background-color: black;
  padding: 25px 0px;
}

.single-footer-widget p {
  margin-bottom: 0px;
}

.single-footer-widget ul li a {
  line-height: 25px;
  display: inline-block;
  color: #777;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  margin-bottom: 13px;
}

.single-footer-widget ul li a:hover {
  color: #ea2c58;
}

.single-footer-widget .instafeed {
  margin-left: -5px;
  margin-right: -5px;
}

.single-footer-widget .instafeed li {
  margin: 5px;
}

.single-footer-widget .subscribe_form {
  padding-top: 25px;
}

.single-footer-widget .input-group {
  display: block !important;
}

.single-footer-widget input {
  width: 100%;
  border: 1px solid #333333;
  font-size: 13px;
  line-height: 30px;
  padding-right: 40px;
  height: 40px;
  color: #999999;
  background: transparent;
  padding-left: 20px;
}

.single-footer-widget input.placeholder {
  color: #999999;
}

.single-footer-widget input:-moz-placeholder {
  color: #999999;
}

.single-footer-widget input::-moz-placeholder {
  color: #999999;
}

.single-footer-widget input::-webkit-input-placeholder {
  color: #999999;
}

.single-footer-widget input:focus {
  outline: none;
}

.single-footer-widget .sub-btn {
  background: #ea2c58;
  color: #fff;
  font-weight: 300;
  border-radius: 0;
  line-height: 34px;
  padding: 4px 11px 0px;
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0px;
}

.footer_title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.border_line {
  width: 100%;
  height: 1px;
  background: #333333;
  margin-top: 30px;
}

.footer-bottom {
  padding-top: 46px;
}

.footer-bottom .footer-text a {
  color: #ea2c58;
}

.footer-bottom .footer-social {
  text-align: right;
}

.footer-bottom .footer-social a {
  font-size: 18px;
  line-height: 30px;
  color: #82848f;
  margin-left: 25px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer-bottom .footer-social a:hover {
  color: #ea2c58;
}

.w-50 {
  width: 50% !important;
}

.list {
  list-style: none;
  margin: -25px -115px;
  padding: 0px;
}

/* about stuff */

/* Three columns side by side */
.column {
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
    padding: 0 0px;
}

/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

div.transbox {
  margin: 160px 180px;
  background-color: #ffffff;
  border: 1px solid white;
  opacity: 0.5;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
}
    
.textbox {
    margin: 10px 240px;
}

.textbox1 {
    margin: 10px 190px;
}

.textbox1 {
    margin: 10px 170px;
}

/* three stop process */
/* The grid: Three equal columns that floats next to each other */
.column1 {
    float: left;
    width: 33.33%;
    padding: 50px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: white;
}

.containerTab {
    padding: 20px;
    color: white;
    width: 1139px;
    margin: 0px -15px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Closable button inside the image */
.closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

.list-unstyled {
  padding-left: 0px;
  list-style: none;
}

/* packages */

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.service {
    position: relative;
    padding: 20px 20px 20px 20px;
    margin: 15px 0px;
    border: 1px solid #EEE;
}

.service i {
    position: absolute;
    left: 20px;
    text-align: center;
    font-size: 32px;
    color: #6195FF;
    border-radius: 50%;
}

.service:after {
    content: "";
    background-color: #1C1D21;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0%;
    z-index: -1;
    -webkit-transition: 0.2s width;
    transition: 0.2s width;
}

.service:hover:after {
    width: 100%;
}

.service h3 {
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
}

.service:hover h3 {
    color: #fff;
}

/* -- section  -- */

.section {
    position: relative;
}

.md-padding {
    padding-top: 20px;
    padding-bottom: 20px;
}

.sm-padding {
    padding-top: 60px;
    padding-bottom: 60px;
}

h2.a {
    visibility: hidden;
}

.pricing {
    position: relative;
    text-align: center;
    border: 1px solid #EEE;
    background-color: #FFF;
    z-index: 11;
    margin: 15px 10px;
}

.pricing::after {
    content: "";
    background-color: #1C1D21;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 0%;
    z-index: -1;
    -webkit-transition: 0.2s height;
    transition: 0.2s height;
}

.pricing:hover:after {
    height: 100%;
}

.pricing .price-head {
    position: relative;
    margin-bottom: 20px;
}

.pricing .price-title {
    display: block;
    padding: 20px 20px 20px;
    text-transform: uppercase;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
    font-family: 'Montserrat', sans-serif; 
    font-size: 25px"
}

.pricing:hover .price-title {
    color: #6195FF;
}

.pricing .price {
    position: relative;
    width: 140px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    margin: auto;
    border-radius: 50%;
    border: 2px solid #6195FF;
}

.pricing .price h3 {
  font-size: 42px;
  margin: 0px;
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  position: absolute;
  left: 0;
  right: 0;
}

.pricing:hover .price h3 {
    color: #fff;
}

.pricing .duration {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    color: #10161A;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
}

.pricing:hover .duration {
    color: #fff;
}

.pricing .price-btn {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* pricing */
    
