@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Sunflower:300');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
/* Global Styles */

body,
input,
button,
select,
textarea,
.navbar,
dropdown-menu,
dropdown-item, collapse, navbar-collapse
{
  font-family: 'Sunflower', sans-serif;
  font-size: 31px;
}

.sec-font {
    font-family: 'Merriweather', serif;
    font-size: 30px;
    color: white;
}

.third-font {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}
img.logoimage {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.bg-maroon {
  background-color: #910000 !important;
}

.bg-lightgrey {
    background-color: #F0F0F0;
}

.bg-white {
    background-color: #FFFFFF;
}

div.centeralign {
  text-align: center;
}

div.leftalign {
  text-align: left;
}

/* center text */
.centered {
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-40%, -50%);
    color: white;
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
}

.text {
    position: absolute;
    top: 70%;
    left: 35%;
    transform: translate(-30%, -50%);
    color: white;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}


/*body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element 
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }
*/

/* Navbar classes */

.navbar {
  margin-top: 2px;
  margin-bottom: 0 !important;
}

.dropdown-toggle{
  margin: 2px 0px 2px;
  float: center;
}

.navbar a {
  float: center;
  color: black;
  font-size: 17px;
  text-align: left;
  padding: 8px 8px;
}

.dropdown {
  float: center;
  overflow: show;
}

.navbar a:hover, .dropdown:hover .navbar-toggler {
  background-color: black;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-menu a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

ul li {
    margin-left: 110px;
    margin-right: 60px;
}

/* Design Aspects */

.square-container {
    background-color: #F0F0F0;
    width: 1000px;
    height: 45px;
    text-align: center;
    margin: 0px 75px 0px;
    padding: 5px;
}

img.universityimage {
    opacity: 1.0;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.icon-colleges {
    position:relative;
    text-align: block;
    margin-left: -12px;
    margin-right: 0px;
    font-family: 'Montserrat', serif;
    font-size: 20px;
}

.icon-apply {
    position: relative;
    text-align: block;
    margin-left: -17px;
    margin-right: 0px;
    font-family: 'Montserrat', serif;
    font-size: 20px;
}

.icon-database {
    position: relative;
    text-align: block;
    margin-left: -20px;
    margin-right: px;
    font-family: 'Montserrat', serif;
    font-size: 20px;
}

.icon-network {
    position: relative;
    text-align: block;
    margin-left: 4px;
    margin-right: 0px;
    font-family: 'Montserrat', serif;
    font-size: 20px;
}

.icon-testing {
    position: relative;
    text-align: block;
    margin-left: -8px;
    margin-right: 0px;
    font-family: 'Montserrat', serif;
    font-size: 20px;
}
/*img.universityimage:hover {
    opacity: 0.5;
    -webkit-filter: grayscale(20%); /* Safari 6.0 - 9.0 
    filter: grayscale(20%);
}*/

.collegeadmissions {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

   /* .consultants {
    filter: alpha(opacity=20);
    display: block;
    margin: 0 auto;
    position: relative;
    text-align: center;
    color: white;
    object-fit: cover;
}

   .question-text {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Palatino", sans-serif;
    font-size: 40px;
    color: black;
}

    .goal-text {
    position: absolute;
    top: 130%;
    left: -40%;
    transform: translate(45%, -70%);
    font-family: "Palatino", sans-serif;
    font-size: 20px;
    color: maroon;
}*/
